.department-header {
    min-width: 1000px;
    height: 42px;
    padding-left: 20px;
    margin: 14px 0 11px 0;
    background: #f2f2f2;

}

.department-header button {
    background: #f2f2f2;
    border: none;
    font-size: 18px;
    line-height: initial;
    text-align: center;
    color: #535353;
    outline: none;
}

.department-but1 {
    width: 90px;
    height: 42px;
}

.department-but1 a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000000;
    text-align: center;
    line-height: 42px;
}

.identity-card {
    display: none;
}

.newdata {
    clear: both;

    min-width: 1000px;
    margin: 10px auto;
    background: #fff;
    box-sizing: border-box;
    border-radius: 5px;
}

.newdata .qm-team-input span {
    display: inline-block;
    line-height: 34px;
    padding: 0;
    float: left;
    padding-right: 5px;
}

.newdata .poptime input {
    width: 83%;
    height: 32px;
    border: none;
    float: left;
}

.groupdata-title {
    margin-bottom: 10px;
    border-bottom: 3px solid #03afef;
    height: 50px;
    line-height: 50px;
}

.groupdata-title-1 {

    line-height: 50px;
}

.header-title {
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
}

.qm-team input {
    padding: 0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: #fff;
    height: 34px;
}

.qm-team .qm-team-input {
    width: 50%;
    height: 45px;
    float: left;
    padding: 5px 0;
}

.qm-team-input .pop-div2 {
    margin-top: 3px;
}

.qm-team-input span {
    text-align: right;
    display: inline-block;
    padding: 3px 0 0 0;
}

.qm-team-input input {
    width: 50%;
    float: left;
}

.qm-team-div {
    height: 34px;
    width: 50%;
    float: left;
}

.qm-team select {
    width: 100%;
    height: 100%;
    border-color: #ccc;

    border-radius: 5px;
}

.qm-c-compile {
    height: 160px;
}

.poptime {
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 34px;
    border-radius: 5px;
}

.qm-time-but {
    border: none;
    float: right;
    width: 15%;
    height: 100%;
    padding: 0;
    background: #fff;
}

.poptwo-c-lia {
    margin-right: 10px;
    padding-left: 21px;
    background: url(../images/yuandian.png) -19px -4px no-repeat;
}

.poptwo-c-lia1 {
    background: url(../images/yuandian.png) -19px -36px no-repeat;
}

.newdata-picture {
    width: 310px;
    height: 170px;
    border: 1px dashed #999999;
    float: left;
    margin-right: 150px;
    margin-bottom: 35px;
    background: #FFFFFF;
    position: relative;
}

.newdata-picture .img-cont-box {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newdata-picture img {
    width: 100%;
    height: 100%;
}

.newdata-picture .plan-bar {
    font-size: 12px;
    padding-top: 15px;
    position: absolute;
    bottom: -25px;
}

.img-cont-box .clickoff {
    display: none;
    width: 20px;
    height: 20px;
    z-index: 200;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    line-height: 20px;
    text-align: center;
}

.add-progress {
    margin: 0;
    height: 10px;
    width: 100%;
    z-index: 300;
    position: absolute;
    bottom: 0;
    left: 0;
}

.newdata-picture .newdata-picture-i {
    position: absolute;
    top: 33%;
    left: 33%;
    display: block;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background: #CCCCCC;
}

.newdata-picture-i .picture-i-bg {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 30px;
    background: url(../images/css.png) -535px -15px no-repeat;
}

.webuploader-pick {
    width: 100%;
    height: 100%;
    background: inherit;
    color: inherit;
}

.webuploader-pick-hour {
    background: #CCCCCC;

}

.del-but {
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    margin: 10px 0px 0 20px;
    border: 1px solid #CCCCCC;
    float: right;
    border-radius: 5px;
}

.member-title {
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-left: 37px;
    background: #f1f0f5;
}

/*.member-title-left {*/
    /*width: 110px;*/
    /*line-height: 34px;*/
    /*float: left;*/
    /*text-align: center;*/
    /*!*background: #FFFFFF;*!*/
    /*margin: 6px 0 0 20px;*/
    /*!*border: 1px solid #CCCCCC;*!*/
    /*border-bottom-color: #FFFFFF;*/
/*}*/

.member-title-right {
    width: 140px;
    height: 34px;
    text-align: center;
    background: #FFFFFF;
    line-height: 34px;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: pointer;
}

.qm-team .newdata-picture-box {
    width: 100%;
    padding-left: 20px;
    border: 1px solid #CCCCCC;
    background: #f2f2f2;
}

/*权限*/

.duty-one {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 25;
}

.duty-one1 {

    background: #FFFFFF;

}

.duty-one2 {
    max-height: 580px;
    overflow: auto;
    font-size: 14px;
}

.duty-box {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(0, 0, 0, 0.1);*/
}

.duty-frame1 {
    border-bottom: 1px solid #fff;
}

.duty-frame2 {
    box-sizing: border-box;
    width: 100%;
    height: 40px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.duty-frame2 .duty-frame-but {
    height: 40px;
    width: 100px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    float: right;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #FFFFFF;
    margin-left: 30px;
}

.department-power {
    display: none;
}

.am-table {
    border-collapse: collapse;
    margin-bottom: 0;
    border-bottom: 1px solid #cccccc;
}

.am-table tr:first-child {
    background: #f1f0f5;
}

.am-table tr th:first-child {
    padding-left: 37px;
}

.am-table tr td:first-child {
    padding-left: 37px;
}

.table tr:last-child td {
    border-bottom: 1px solid #CCCCCC;
}

.duty-rights-1 {
    width: 20%;
}

.duty-rights-3 {
    width: 80%;
}
input[type='checkbox']{
    margin-right: 10px;
}