<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.BranchMapper">
    <resultMap id="BranchVO" type="com.dgg.store.util.vo.branch.BranchVO">
        <result column="branch_id" property="branchId" jdbcType="VARCHAR"/>
        <result column="branch_name" property="branchName" jdbcType="VARCHAR"/>
        <result column="department_id" property="departmentId" jdbcType="VARCHAR"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="my_team_id" property="myTeamId" jdbcType="VARCHAR"/>
        <result column="user_id" property="managerId" jdbcType="VARCHAR"/>
        <result column="user_name" property="managerName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="managerPhone" jdbcType="VARCHAR"/>
        <result column="branch_area" property="branchArea" jdbcType="VARCHAR"/>
        <result column="lat_lng" property="latLng" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="GoodsDetailVO" type="com.dgg.store.util.vo.goods.GoodsDetailVO">
        <id column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_attr" property="goodsAttr" jdbcType="VARCHAR"/>
        <result column="goods_price" property="goodsPrice" jdbcType="FLOAT"/>
        <result column="goods_count" property="goodsCount" jdbcType="INTEGER"/>
        <result column="goods_freight" property="goodsFreight" jdbcType="INTEGER"/>
        <result column="goods_sales" property="goodsSales" jdbcType="INTEGER"/>
        <result column="goods_type" property="goodsType" jdbcType="VARCHAR"/>
        <result column="goods_code" property="goodsCode" jdbcType="VARCHAR"/>
        <result column="goods_create_date" property="goodsCreateDate" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="GoodsStandard" type="com.dgg.store.util.pojo.GoodsStandard">
        <result column="standard_id" property="standardId" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
        <result column="standard_price" property="standardPrice" jdbcType="FLOAT"/>
        <result column="standard_count" property="standardCount" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insertBranch" parameterType="com.dgg.store.util.vo.branch.BranchVO">
        INSERT INTO qm_branch
        (branch_id, branch_name, department_id,
        my_team_id,department_name, user_id,
        user_name, user_phone, branch_area,
        lat_lng,branch_type)
        VALUES
        (#{branchId},#{branchName},#{departmentId},
        #{myTeamId},#{departmentName},#{managerId},
        #{managerName},#{managerPhone},#{branchArea},
        #{latLng},#{branchType})
    </insert>

    <select id="listBranch" parameterType="com.dgg.store.util.vo.branch.BranchVO" resultMap="BranchVO">
        SELECT qb.branch_id, qb.branch_name,
        qb.user_name, qb.user_phone,
        td.team_department_name department_name
        FROM qm_branch qb
        INNER JOIN team_department td
        ON td.team_department_id = qb.department_id
        WHERE 1 = 1
        <if test="condition.branchType != null">
            AND qb.branch_type = #{condition.branchType}
        </if>
        <if test="condition.myTeamId != null and condition.myTeamId != ''">
            AND qb.my_team_id = #{condition.myTeamId}
        </if>
        <if test="condition.departmentId != null and condition.departmentId != ''">
            AND qb.department_id = #{condition.departmentId}
        </if>
        LIMIT #{start},#{end}
    </select>

    <select id="countBranch" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM qm_branch qb
        WHERE 1 = 1
        <if test="myTeamId != null and myTeamId != ''">
            AND my_team_id = #{myTeamId}
        </if>
        <if test="departmentId != null and departmentId != ''">
            AND department_id = #{departmentId}
        </if>
    </select>

    <delete id="deleteBranch" parameterType="com.dgg.store.util.vo.branch.BranchVO">
        DELETE FROM qm_branch
        WHERE branch_id = #{branchId}
    </delete>

    <select id="getBranch" resultMap="BranchVO">
        SELECT branch_id, branch_name, department_id,
            my_team_id,department_name, user_id,
            user_name, user_phone, branch_area,
            lat_lng
        FROM qm_branch
        WHERE branch_id = #{branchId}
    </select>

    <update id="updateBranch" parameterType="com.dgg.store.util.vo.branch.BranchVO">
        UPDATE qm_branch
        <set>
            <if test="branchName != null and branchName != ''">
                branch_name = #{branchName},
            </if>
            <if test="branchArea != null and branchArea != ''">
                branch_area = #{branchArea},
            </if>
            <if test="departmentId != null and departmentId != ''">
                department_id = #{departmentId},
            </if>
            <if test="departmentName != null and departmentName != ''">
                department_name = #{departmentName},
            </if>
            <if test="managerId != null and managerId != ''">
                user_id = #{managerId},
            </if>
            <if test="managerName != null and managerName != ''">
                user_name = #{managerName},
            </if>
            <if test="managerPhone != null and managerPhone != ''">
                user_phone = #{managerPhone},
            </if>
            <if test="latLng != null and latLng != ''">
                lat_lng = #{latLng},
            </if>
        </set>
        WHERE branch_id = #{branchId}
    </update>

    <select id="listGoods" resultMap="GoodsDetailVO" parameterType="com.dgg.store.util.vo.branch.BranchVO">
        SELECT gi.goods_id,gi.goods_name,gt.goods_type_name goods_type
        FROM goodsinfo gi
        INNER JOIN goods_typeinfo gt
        ON gt.goods_type_id = gi.goods_type_id
        WHERE my_team_id = #{condition.myTeamId}
        LIMIT #{start},#{end}
    </select>

    <select id="listStandards" resultMap="GoodsStandard" parameterType="com.dgg.store.util.vo.goods.GoodsDetailVO">
        SELECT gs.standard_id,gs.standard_name,gs.standard_price,
            gs.standard_count
        FROM goods_standard gs
        WHERE gs.goods_id = #{goodsId}
    </select>

    <select id="listBranchStandards" resultMap="GoodsStandard" parameterType="com.dgg.store.util.vo.goods.GoodsDetailVO">
        SELECT gs.standard_id,gs.standard_name,gs.standard_price,
            IFNULL((
            SELECT standard_count
            FROM qm_branch_goods
            WHERE standard_id = gs.standard_id
            AND branch_id = #{branchId}),0) standard_count
        FROM goods_standard gs
        WHERE gs.goods_id = #{goodsId}
    </select>

    <select id="countGoods" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM goodsinfo gi
        INNER JOIN goods_standard gs
        ON gs.goods_id = gi.goods_id
        WHERE gi.my_team_id = #{myTeamId}
    </select>

    <select id="getGoodsInventory" resultType="java.lang.Integer">
        SELECT standard_count
        FROM goods_standard
        WHERE standard_id = #{standardId}
    </select>

    <update id="updateGoodsInventory">
        UPDATE goods_standard
        SET standard_count = #{inventory}
        WHERE standard_id = #{standardId}
    </update>

    <delete id="deleteBranchGoods" parameterType="com.dgg.store.util.vo.branch.BranchGoodsVO">
        DELETE FROM qm_branch_goods
        WHERE branch_id = #{branchId}
        AND standard_id = #{standardId}
    </delete>

    <insert id="insertBranchGoods" parameterType="com.dgg.store.util.vo.branch.BranchGoodsVO">
        INSERT INTO qm_branch_goods
        (branch_id, goods_id, standard_id, standard_count)
        VALUES
        (#{branchId},#{goodsId},#{standardId},#{standardCount})
    </insert>

    <select id="getBranchInventory" resultType="java.lang.Integer" parameterType="com.dgg.store.util.vo.branch.BranchGoodsVO">
        SELECT standard_count
        FROM qm_branch_goods
        WHERE branch_id = #{branchId}
        AND standard_id = #{standardId}
    </select>

    <select id="listBranchGoods" resultMap="GoodsDetailVO" parameterType="com.dgg.store.util.vo.branch.BranchVO">
        SELECT gi.goods_id,gi.goods_name,gi.goods_create_date,
          gi.goods_code,
          gt.goods_type_name goods_type
        FROM goodsinfo gi
        LEFT JOIN goods_typeinfo gt
        ON gt.goods_type_id = gi.goods_type_id
        WHERE 1 = 1
        AND gi.my_team_id = #{branchVO.myTeamId}
        <if test="childType != null">
            AND gi.goods_type_id IN
            <foreach collection="childType" item="typeId" separator="," open="(" close=")" index="i">
                #{typeId}
            </foreach>
        </if>
        LIMIT #{start},#{end}
    </select>

    <select id="countBranchGoods" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM goodsinfo gd
        WHERE 1 = 1
        AND gd.my_team_id = #{branchVO.myTeamId}
        <if test="childType != null">
            AND gd.goods_type_id IN
            <foreach collection="childType" item="typeId" separator="," open="(" close=")" index="i">
                #{typeId}
            </foreach>
        </if>
    </select>

    <select id="countBranchStandard" resultType="java.lang.Integer">
        SELECT COALESCE(SUM(standard_count),0)
        FROM qm_branch_goods
        WHERE standard_id = #{standardId}
        AND branch_id = #{branchId}
    </select>

    <select id="getCurrentBranchId" resultType="java.lang.String">
        SELECT branch_id
        FROM qm_branch qb
        INNER JOIN user u
        ON u.team_department_id = qb.department_id
        WHERE u.user_id = #{userId}
    </select>

    <select id="getFirstBranchId" resultType="java.lang.String">
        SELECT branch_id
        FROM qm_branch qb
        WHERE qb.branch_type = #{branchType}
        AND qb.my_team_id = #{myTeamId}
    </select>

    <select id="getBranchName" resultType="java.lang.String">
        SELECT branch_name
        FROM qm_branch
        WHERE branch_id = #{branchId}
    </select>

    <select id="getGoodsImage" resultType="java.lang.String">
        SELECT im.image_path
        FROM image_space im
        INNER JOIN goods_image gi
        ON gi.image_id = im.image_id
        WHERE gi.goods_img_type = 1
        AND gi.goods_id = #{goodsId}
        LIMIT 1
    </select>

    <select id="countGoodsByKeyword" resultType="java.lang.Integer" parameterType="com.dgg.store.util.vo.branch.BranchVO">
        SELECT COUNT(0)
        FROM goodsinfo gi
        LEFT JOIN goods_typeinfo gt
        ON gt.goods_type_id = gi.goods_type_id
        WHERE 1 = 1
        AND gi.my_team_id = #{myTeamId}
        AND (gi.goods_name LIKE CONCAT('%',#{keyword},'%') OR gi.goods_code = #{keyword})
    </select>

    <select id="listGoodsByKeyword" resultMap="GoodsDetailVO">
        SELECT gi.goods_id,gi.goods_name,gi.goods_create_date,
          gi.goods_code,
          gt.goods_type_name goods_type
        FROM goodsinfo gi
        LEFT JOIN goods_typeinfo gt
        ON gt.goods_type_id = gi.goods_type_id
        WHERE 1 = 1
        AND gi.my_team_id = #{branchVO.myTeamId}
        AND (gi.goods_name LIKE CONCAT('%',#{branchVO.keyword},'%') OR gi.goods_code = #{branchVO.keyword})
        LIMIT #{pageNum},#{pageSize}
    </select>
</mapper>