<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.ChinaMapper">
    <resultMap id="BaseResultMap" type="com.dgg.store.util.vo.ChinaVO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
    </resultMap>

    <select id="findAreaByPid" resultMap="BaseResultMap">
        SELECT id,name
        FROM china
        WHERE pid = #{pid}
    </select>

    <select id="findAllArea" resultMap="BaseResultMap">
        SELECT id,name,pid
        FROM china
    </select>
</mapper>