<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.CustomerVisitMapper">
    <resultMap id="DepartmentVO" type="com.dgg.store.util.vo.manage.DepartmentVO">
        <result column="department_id" property="departmentId" jdbcType="VARCHAR"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="MemberVO" type="com.dgg.store.util.vo.manage.MemberVO">
        <result column="user_id" property="memberId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="CustomerVO" type="com.dgg.store.util.vo.customer.CustomerVO">
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_birthday" property="userBirthday" jdbcType="VARCHAR"/>
        <result column="user_address" property="userAddress" jdbcType="VARCHAR"/>
        <result column="user_img" property="userImg" jdbcType="VARCHAR"/>
        <result column="credit_rating" property="creditRating" jdbcType="INTEGER"/>
        <result column="business_address" property="businessAddress" jdbcType="VARCHAR"/>
        <result column="station" property="station" jdbcType="VARCHAR"/>
        <result column="customer_type" property="customerType" jdbcType="VARCHAR"/>
        <result column="had_account" property="hadAccount" jdbcType="INTEGER"/>
        <result column="user_card_front" property="userCardFront" jdbcType="VARCHAR"/>
        <result column="user_card_back" property="userCardBack" jdbcType="VARCHAR"/>
        <result column="user_card_hand" property="userCardHand" jdbcType="VARCHAR"/>
        <result column="update_date" property="userUpdateTime" jdbcType="VARCHAR"/>
        <result column="update_count" property="updateCount" jdbcType="INTEGER"/>
        <result column="user_create_date" property="userCreateDate" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="UserPlace" type="com.dgg.store.util.pojo.UserPlace">
        <id column="user_place_id" jdbcType="VARCHAR" property="userPlaceId"/>
        <result column="customer_id" jdbcType="VARCHAR" property="customerId"/>
        <result column="user_place_acreage" jdbcType="INTEGER" property="userPlaceAcreage"/>
        <result column="user_employee_num" jdbcType="INTEGER" property="userEmployeeNum"/>
        <result column="user_owner_num" jdbcType="INTEGER" property="userOwnerNum"/>
        <result column="user_already_use" jdbcType="INTEGER" property="userAlreadyUse"/>
        <result column="user_place_area" jdbcType="VARCHAR" property="userPlaceArea"/>
        <result column="user_place_type" jdbcType="VARCHAR" property="userPlaceType"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <collection property="imageList" ofType="com.dgg.store.util.pojo.PlaceImage">
            <result column="img_id" property="imgId" jdbcType="VARCHAR"/>
            <result column="img_type" property="imgType" jdbcType="TINYINT"/>
            <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="UserBreed" type="com.dgg.store.util.pojo.UserBreed">
        <id column="breed_id" jdbcType="VARCHAR" property="breedId"/>
        <result column="breed_category" jdbcType="VARCHAR" property="breedCategory"/>
        <result column="breed_variety" jdbcType="VARCHAR" property="breedVariety"/>
        <result column="breed_type" jdbcType="VARCHAR" property="breedType"/>
        <result column="male_num" jdbcType="INTEGER" property="maleNum"/>
        <result column="female_num" jdbcType="INTEGER" property="femaleNum"/>
        <result column="obstetric_table_num" jdbcType="INTEGER" property="obstetricTableNum"/>
        <result column="shed_num" jdbcType="INTEGER" property="shedNum"/>
        <result column="empty_shed_num" jdbcType="INTEGER" property="emptyShedNum"/>
        <result column="competitive_brand" jdbcType="VARCHAR" property="competitiveBrand"/>
        <result column="livestock_num" jdbcType="INTEGER" property="livestockNum"/>
        <result column="user_place_id" jdbcType="VARCHAR" property="userPlaceId"/>
        <result column="breed_age" jdbcType="INTEGER" property="breedAge"/>
        <result column="breed_scale" jdbcType="INTEGER" property="breedScale"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="json" jdbcType="VARCHAR" property="json"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate"/>
    </resultMap>

    <resultMap id="Farmer" type="com.dgg.store.util.pojo.Farmer">
        <id column="farmer_id" jdbcType="VARCHAR" property="farmerId"/>
        <result column="customer_id" jdbcType="VARCHAR" property="customerId"/>
        <result column="farmer_name" jdbcType="VARCHAR" property="farmerName"/>
        <result column="farmer_phone" jdbcType="VARCHAR" property="farmerPhone"/>
    </resultMap>

    <resultMap id="ManageUnit" type="com.dgg.store.util.pojo.ManageUnit">
        <id column="manage_id" jdbcType="VARCHAR" property="manageId"/>
        <result column="customer_id" jdbcType="VARCHAR" property="customerId"/>
        <result column="manage_name" jdbcType="VARCHAR" property="manageName"/>
        <result column="manage_type" jdbcType="VARCHAR" property="manageType"/>
        <result column="manage_address" jdbcType="VARCHAR" property="manageAddress"/>
        <result column="manage_acreage" jdbcType="INTEGER" property="manageAcreage"/>
    </resultMap>

    <select id="listVisitDepartment" resultMap="DepartmentVO">
        SELECT team_department_id department_id,team_department_name department_name
        FROM team_department
        WHERE my_team_id = #{myTeamId}
    </select>

    <select id="listVisitMember" resultMap="MemberVO" parameterType="com.dgg.store.util.vo.manage.MemberVO">
        SELECT u.user_id,u.user_name
        FROM user u
        WHERE u.my_team_id = #{myTeamId}
        AND u.role_id > #{roleId}
        <if test="departmentId != null and departmentId != ''">
            AND u.team_department_id = #{departmentId}
        </if>
    </select>

    <select id="countVisitCustomer" parameterType="com.dgg.store.util.vo.customer.CustomerVO" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM customer c
        INNER JOIN user_view u
        ON u.user_id = c.user_id
        WHERE c.my_team_id = #{customerVO.myTeamId}
        <if test="customerVO.customerType != null">
            AND customer_type = #{customerVO.customerType}
        </if>
        <if test="customerVO.hadAccount != null">
            AND customer_type = #{customerVO.hadAccount}
        </if>
        AND c.promoter_id IN
        <foreach collection="promoterList" item="promoterId" separator="," open="(" close=")" index="i">
            #{promoterId}
        </foreach>
    </select>

    <select id="listVisitCustomer" resultMap="CustomerVO">
        SELECT c.customer_id,c.business_address,c.credit_rating,
        c.customer_type,c.station,c.had_account,
        u.user_name,u.user_phone,
        u.user_address,u.user_sex,u.user_img,
        IFNULL(u.user_birthday,"") user_birthday
        FROM customer c
        INNER JOIN user_view u
        ON u.user_id = c.user_id
        WHERE c.my_team_id = #{customerVO.myTeamId}
        <if test="customerVO.customerType != null">
            AND customer_type = #{customerVO.customerType}
        </if>
        <if test="customerVO.hadAccount != null">
            AND had_account = #{customerVO.hadAccount}
        </if>
        AND c.promoter_id IN
        <foreach collection="promoterList" item="promoterId" separator="," open="(" close=")" index="i">
            #{promoterId}
        </foreach>
        LIMIT #{customerVO.pageNum},#{customerVO.pageSize}
    </select>

    <select id="getVisitCustomer" parameterType="com.dgg.store.util.vo.customer.CustomerVO" resultMap="CustomerVO">
        SELECT c.customer_id,c.customer_type,c.had_account,
            c.credit_rating,c.business_address,c.station,
            c.update_count,c.update_date,
            u.user_name,u.user_phone,u.user_birthday,
            u.user_address,u.user_sex,u.user_create_date,
            u.user_card_front,u.user_card_back,u.user_card_hand,
            u.user_img,
            IFNULL(u.user_birthday,"") user_birthday
        FROM customer c
        INNER JOIN user_view u
        ON u.user_id = c.user_id
        WHERE c.customer_id = #{customerId}
    </select>

    <select id="countVisitUserPlace" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM user_place up
        LEFT JOIN place_image pi
        ON pi.user_place_id = up.user_place_id
        WHERE up.customer_id = #{customerId}
    </select>

    <select id="listVisitUserPlace" parameterType="com.dgg.store.util.pojo.UserPlace" resultMap="UserPlace">
        SELECT up.user_place_id, up.customer_id,
              up.user_place_acreage, up.user_employee_num, up.user_owner_num,
              up.user_already_use, up.user_place_area, up.user_place_type,
              pi.img_id,pi.img_url,pi.img_type
        FROM user_place up
        LEFT JOIN place_image pi
        ON pi.user_place_id = up.user_place_id
        WHERE up.customer_id = #{customerId}
        LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="getUserPlaceById" resultMap="UserPlace">
        SELECT up.user_place_id, up.customer_id,
              up.user_place_acreage, up.user_employee_num, up.user_owner_num,
              up.user_already_use, up.user_place_area, up.user_place_type,
              pi.img_id,pi.img_url,pi.img_type
        FROM user_place up
        LEFT JOIN place_image pi
        ON pi.user_place_id = up.user_place_id
        WHERE up.user_place_id = #{placeId}
    </select>

    <select id="countVisitUserBreed" parameterType="com.dgg.store.util.pojo.UserPlace" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM user_breed
        WHERE user_place_id = #{userPlaceId}
    </select>

    <select id="listVisitUserBreed" parameterType="com.dgg.store.util.pojo.UserPlace" resultMap="UserBreed">
        SELECT breed_id, breed_category, breed_variety, breed_type, male_num, female_num, obstetric_table_num,
            shed_num, empty_shed_num, competitive_brand, livestock_num, user_place_id, breed_age,
            breed_scale, create_date,json
        FROM user_breed
        WHERE user_place_id = #{userPlaceId}
        LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="countVisitFarmer" parameterType="com.dgg.store.util.pojo.Farmer" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM farmer
        WHERE customer_id = #{customerId}
    </select>

    <select id="listVisitFarmer" parameterType="com.dgg.store.util.pojo.Farmer" resultMap="Farmer">
        SELECT farmer_id, customer_id, farmer_name,
            farmer_phone
        FROM farmer
        WHERE customer_id = #{customerId}
        LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="countVisitManageUnit" parameterType="com.dgg.store.util.pojo.ManageUnit" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM manage_unit
        WHERE customer_id = #{customerId}
    </select>

    <select id="listVisitManageUnit" parameterType="com.dgg.store.util.pojo.ManageUnit" resultMap="ManageUnit">
        SELECT manage_id, customer_id, manage_name,
          manage_type, manage_address, manage_acreage
        FROM manage_unit
        WHERE customer_id = #{customerId}
        LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="getVisitUserBreed" resultMap="UserBreed">
        SELECT breed_id, breed_category, breed_variety, breed_type, male_num, female_num, obstetric_table_num,
            shed_num, empty_shed_num, competitive_brand, livestock_num, user_place_id, breed_age,
            breed_scale, create_date,json
        FROM user_breed
        WHERE breed_id = #{breedId}
    </select>

    <select id="getCurrentDepartmentId" resultType="java.lang.String">
        SELECT team_department_id
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="listPromoter" resultType="java.lang.String">
        SELECT u.user_id
        FROM user u
        WHERE u.role_id > #{roleId}
        AND u.team_department_id = #{departmentId}
    </select>
</mapper>