<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.LoginMapper">
    <resultMap id="LoginRepMap" type="com.dgg.store.util.vo.LoginRepVO">
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_img" property="userImg" jdbcType="VARCHAR"/>
        <result column="user_area" property="userArea" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="my_team_id" property="myTeamId" jdbcType="VARCHAR"/>
        <result column="team_department_id" property="departmentId" jdbcType="VARCHAR"/>
        <result column="department_type" property="departmentType" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findLoginUser" parameterType="com.dgg.store.util.vo.LoginVO" resultMap="LoginRepMap">
        SELECT u.user_id, u.user_name, u.user_phone, u.user_img,u.user_area, u.token, u.role_id,u.my_team_id,u.team_department_id,td.department_type
        FROM user u
        LEFT JOIN team_department td
        ON td.team_department_id = u.team_department_id
        WHERE u.user_phone = #{userPhone}
        AND u.user_password = #{userPassword}
        AND u.my_team_id IN
        (SELECT my_team_id t FROM my_team t WHERE t.my_team_pid = #{myTeamId} OR t.my_team_id = #{myTeamId})
    </select>

    <update id="updateToken">
        UPDATE user
        SET token = #{token}
        WHERE user_phone = #{loginName}
    </update>

    <select id="findLoginUserByPhone" parameterType="com.dgg.store.util.vo.LoginVO" resultMap="LoginRepMap">
        SELECT u.user_id, u.user_name, u.user_phone, u.user_img, u.user_area, u.token, u.role_id,u.my_team_id
        FROM user u
        WHERE u.user_phone = #{userPhone}
        AND u.my_team_id = #{myTeamId}
    </select>
</mapper>