<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.ManageMapper">
    <resultMap id="MenuVO" type="com.dgg.store.util.vo.manage.ManageMenuVO">
        <result column="name" property="menuName" jdbcType="VARCHAR"/>
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="count" property="number" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="MemberVO" type="com.dgg.store.util.vo.manage.MemberVO">
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_status" property="userStatus" jdbcType="VARCHAR"/>
        <result column="my_team_id" property="myTeamId" jdbcType="VARCHAR"/>
        <result column="user_identity" property="userIdentity" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="team_department_id" property="departmentId" jdbcType="VARCHAR"/>
        <result column="team_department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="position_id" property="positionId" jdbcType="VARCHAR"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="user_card_front" property="userCardFront" jdbcType="VARCHAR"/>
        <result column="user_card_back" property="userCardBack" jdbcType="VARCHAR"/>
        <collection property="permissionList" ofType="com.dgg.store.util.vo.manage.PerUserReVO">
            <result column="qm_permission_id" property="permissionId" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="PositionVO" type="com.dgg.store.util.vo.manage.PositionVO">
        <result column="position_id" property="positionId" jdbcType="VARCHAR"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="DepartmentVO" type="com.dgg.store.util.vo.manage.DepartmentVO">
        <result column="team_department_id" property="departmentId" jdbcType="VARCHAR"/>
        <result column="team_department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="DATE"/>
        <collection property="positionList" ofType="com.dgg.store.util.vo.manage.PositionVO">
            <result column="position_id" property="positionId" jdbcType="VARCHAR"/>
            <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
            <collection property="perPosReList" ofType="com.dgg.store.util.vo.manage.PerPosReVO">
                <result column="position_id" property="positionId" jdbcType="VARCHAR"/>
                <result column="qm_permission_id" property="permissionId" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findLoginUser" parameterType="com.dgg.store.util.vo.core.LoginVO" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM user u
        WHERE u.user_id = #{userId}
        AND u.user_password = #{userPassword}
    </select>

    <select id="findTeamAndMemberCount" resultMap="MenuVO">
        SELECT mt.my_team_name name,(SELECT COUNT(1) FROM user WHERE my_team_id = mt.my_team_id) count
        FROM my_team mt
        WHERE my_team_id = #{myTeamId}
    </select>

    <select id="findDepartmentAndMemberCount" resultMap="MenuVO">
        SELECT td.team_department_name name,td.team_department_id id,(SELECT COUNT(1) FROM user WHERE team_department_id = td.team_department_id) count
        FROM team_department td
        WHERE td.my_team_id = #{myTeamId}
    </select>

    <insert id="insertDepartment" parameterType="com.dgg.store.util.vo.manage.DepartmentVO">
        INSERT INTO team_department
          (team_department_id, team_department_name, create_date, my_team_id)
        VALUES
          (#{departmentId},#{departmentName},#{createDate},#{myTeamId})
    </insert>

    <insert id="insertPosition" parameterType="java.util.List">
        INSERT INTO department_position
        (position_id, position_name, team_department_id)
        VALUES
        <foreach collection="list" index="i" item="item" open="" separator=")," close=")">
            (#{item.positionId},#{item.positionName},#{item.teamDepartmentId}
        </foreach>
    </insert>

    <insert id="insertPerPosRe" parameterType="java.util.List">
        INSERT INTO position_permission_re
        (position_id, qm_permission_id)
        VALUES
        <foreach collection="list" index="i" item="item" open="" separator=")," close=")">
            (#{item.positionId},#{item.permissionId}
        </foreach>
    </insert>

    <select id="findDepartmentInfo" resultMap="DepartmentVO">
        SELECT td.team_department_name,td.create_date,
            dp.position_id,dp.position_name,
            ppr.qm_permission_id
        FROM team_department td
        LEFT JOIN department_position dp
        ON dp.team_department_id = td.team_department_id
        LEFT JOIN position_permission_re ppr
        ON ppr.position_id = dp.position_id
        WHERE td.team_department_id = #{departmentId}
    </select>

    <update id="updateDepartment" parameterType="com.dgg.store.util.vo.manage.DepartmentVO">
        UPDATE team_department
        <set>
            <if test="departmentName != null and departmentName != ''">
                team_department_name = #{departmentName},
            </if>
            <if test="createDate != null">
                create_date = #{createDate}
            </if>
        </set>
        WHERE team_department_id = #{departmentId}
    </update>

    <delete id="cleanPosition">
        DELETE FROM department_position
        WHERE team_department_id = #{departmentId}
    </delete>

    <delete id="cleanPerPosRe">
        DELETE FROM position_permission_re
        WHERE position_id IN
        (SELECT position_id FROM department_position
        WHERE team_department_id = #{departmentId})
    </delete>

    <delete id="deleteDepartment">
        DELETE FROM team_department
        WHERE team_department_id = #{departmentId}
    </delete>

    <select id="findDepartmentMemberCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM user
        WHERE team_department_id = #{departmentId}
    </select>

    <select id="findDepartmentList" resultMap="DepartmentVO">
        SELECT team_department_id,team_department_name
        FROM team_department
        WHERE my_team_id = #{myTeamId}
    </select>

    <select id="findPositionList" resultMap="PositionVO">
        SELECT dp.position_id,dp.position_name
        FROM department_position dp
        WHERE dp.team_department_id = #{departmentId}
    </select>

    <insert id="insertMember" parameterType="com.dgg.store.util.vo.manage.MemberVO">
        INSERT INTO user
        (user_id, my_team_id, team_department_id,
         role_id, user_name, user_sex,
         user_phone, user_status, user_identity,
         position_id,user_card_front, user_card_back)
        VALUES
        (#{userId},#{myTeamId},#{departmentId},
         #{roleId},#{userName},#{userSex},
         #{userPhone},#{userStatus},#{userIdentity},
         #{positionId},#{userCardFront},#{userCardBack})
    </insert>

    <insert id="insertPerUserRe" parameterType="java.util.List">
        INSERT INTO user_qm_permission_re
        (user_id,qm_permission_id)
        VALUES
        <foreach collection="list" index="i" item="item" open="" separator=")," close=")">
            (#{item.userId},#{item.permissionId}
        </foreach>
    </insert>

    <select id="findMemberList" resultMap="MemberVO" parameterType="com.dgg.store.util.vo.manage.MemberVO">
        SELECT u.user_id,u.user_name,u.user_sex,
            u.user_phone,
            td.team_department_name,
            dp.position_name
        FROM user u
        INNER JOIN team_department td
        ON td.team_department_id = u.team_department_id
        INNER JOIN department_position dp
        ON dp.position_id = u.position_id
        WHERE u.team_department_id = #{departmentId}
    </select>

    <select id="countPositionMember" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM user u
        WHERE u.position_id = #{positionId}
    </select>

    <select id="findMemberInfo" resultMap="MemberVO">
        SELECT u.user_name,u.user_sex,u.user_phone,
            u.user_identity,u.team_department_id,u.position_id,
            u.user_card_front,u.user_card_back,
            uqpr.qm_permission_id
        FROM user u
        LEFT JOIN user_qm_permission_re uqpr
        ON u.user_id = uqpr.user_id
        WHERE u.user_id = #{userId}
    </select>

    <update id="updateMember" parameterType="com.dgg.store.util.vo.manage.MemberVO">
        UPDATE user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userSex != null and userSex != ''">
                user_sex = #{userSex},
            </if>
            <if test="userPhone != null and userPhone != ''">
                user_phone = #{userPhone},
            </if>
            <if test="userIdentity != null and userIdentity != ''">
                user_identity = #{userIdentity},
            </if>
            <if test="departmentId != null and departmentId != ''">
                team_department_id = #{departmentId},
            </if>
            <if test="positionId != null and positionId != ''">
                position_id = #{positionId},
            </if>
            <if test="userCardFront != null">
                user_card_front = #{userCardFront},
            </if>
            <if test="userCardBack != null">
                user_card_back = #{userCardBack},
            </if>
        </set>
        WHERE user_id = #{memberId}
    </update>

    <delete id="cleanPerUserRe">
        DELETE FROM user_qm_permission_re
        WHERE user_id = #{userId}
    </delete>

</mapper>