<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.MyTeamMapper">
    <resultMap id="TeamDepartmentVO" type="com.dgg.store.util.vo.team.TeamDepartmentVO">
        <result column="team_department_id" property="teamDepartmentId" jdbcType="VARCHAR"/>
        <result column="team_department_name" property="teamDepartmentName" jdbcType="VARCHAR"/>
        <result column="department_type" property="departmentType" jdbcType="VARCHAR"/>
        <result column="my_team_id" property="myTeamId" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="DATE"/>
        <result column="my_team_name" property="myTeamName" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="MemberVO" type="com.dgg.store.util.vo.team.MemberVO">
        <result column="user_id" property="memberId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_identity" property="userIdentity" jdbcType="VARCHAR"/>
        <result column="user_img" property="userImg" jdbcType="VARCHAR"/>
        <result column="my_team_name" property="myTeamName" jdbcType="VARCHAR"/>
        <result column="team_department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findDepartmentDetail" resultMap="TeamDepartmentVO" parameterType="com.dgg.store.util.vo.team.TeamDepartmentVO">
        SELECT td.team_department_id,td.team_department_name,td.create_date,
        mt.my_team_name,
        (SELECT COUNT(1) FROM user u WHERE u.team_department_id = td.team_department_id) count
        FROM team_department td
        INNER JOIN my_team mt
        ON mt.my_team_id = td.my_team_id
        WHERE td.my_team_id = #{myTeamId}
        <if test="departmentType != null and departmentType != ''">
            AND td.department_type = #{departmentType}
        </if>
        <if test="teamDepartmentId != null and teamDepartmentId != ''">
            AND td.team_department_id = #{teamDepartmentId}
        </if>
    </select>

    <select id="findDepartmentMember" resultMap="MemberVO" parameterType="com.dgg.store.util.vo.team.MemberVO">
        SELECT u.user_id,u.user_name,u.user_sex,
            u.user_phone,u.user_identity,u.user_img,
            mt.my_team_name,
            td.team_department_name,
            dp.position_name
        FROM user u
        INNER JOIN my_team mt
        ON mt.my_team_id = u.my_team_id
        INNER JOIN team_department td
        ON td.team_department_id = u.team_department_id
        INNER JOIN department_position dp
        ON dp.position_id = u.position_id
        WHERE 1 = 1
        <if test="teamDepartmentId != null and teamDepartmentId != ''">
            AND u.team_department_id = #{teamDepartmentId}
        </if>
        <if test="memberId != null and memberId != ''">
            AND u.user_id = #{memberId}
        </if>
        ORDER BY dp.position_name DESC
    </select>

    <select id="findMemberByNameOrPhone" resultMap="MemberVO" parameterType="com.dgg.store.util.vo.team.MemberVO">
        SELECT u.user_id,u.user_name,u.user_sex,
            u.user_phone,
            td.team_department_name,
            dp.position_name
        FROM user u
        INNER JOIN team_department td
        ON td.team_department_id = u.team_department_id
        INNER JOIN department_position dp
        ON dp.position_id = u.position_id
        WHERE u.my_team_id = #{myTeamId}
        <if test="teamDepartmentId != null and teamDepartmentId != ''">
            AND u.team_department_id = #{teamDepartmentId}
        </if>
        AND (u.user_name LIKE CONCAT(#{userName},'%') OR u.user_phone = #{userName})
        ORDER BY dp.position_name DESC
    </select>

    <select id="listTeamDepartment" resultMap="TeamDepartmentVO">
        SELECT td.team_department_id,td.team_department_name,(SELECT COUNT(0) FROM user u WHERE u.team_department_id = td.team_department_id) count
        FROM team_department td
        WHERE my_team_id = #{myTeamId}
    </select>
</mapper>