<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.ParentDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.dgg.store.util.pojo.ParentDictionary">
    <id column="par_dict_id" jdbcType="VARCHAR" property="parDictId" />
    <result column="par_dict_name" jdbcType="VARCHAR" property="parDictName" />
    <result column="par_dict_create_date" jdbcType="TIMESTAMP" property="parDictCreateDate" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    par_dict_id, par_dict_name, par_dict_create_date, sort
  </sql>
  <select id="selectByExample" parameterType="com.dgg.store.util.pojo.ParentDictionaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from parent_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parent_dictionary
    where par_dict_id = #{parDictId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from parent_dictionary
    where par_dict_id = #{parDictId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dgg.store.util.pojo.ParentDictionaryExample">
    delete from parent_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dgg.store.util.pojo.ParentDictionary">
    insert into parent_dictionary (par_dict_id, par_dict_name, par_dict_create_date, 
      sort)
    values (#{parDictId,jdbcType=VARCHAR}, #{parDictName,jdbcType=VARCHAR}, #{parDictCreateDate,jdbcType=TIMESTAMP}, 
      #{sort,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dgg.store.util.pojo.ParentDictionary">
    insert into parent_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parDictId != null">
        par_dict_id,
      </if>
      <if test="parDictName != null">
        par_dict_name,
      </if>
      <if test="parDictCreateDate != null">
        par_dict_create_date,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parDictId != null">
        #{parDictId,jdbcType=VARCHAR},
      </if>
      <if test="parDictName != null">
        #{parDictName,jdbcType=VARCHAR},
      </if>
      <if test="parDictCreateDate != null">
        #{parDictCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dgg.store.util.pojo.ParentDictionaryExample" resultType="java.lang.Long">
    select count(*) from parent_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update parent_dictionary
    <set>
      <if test="record.parDictId != null">
        par_dict_id = #{record.parDictId,jdbcType=VARCHAR},
      </if>
      <if test="record.parDictName != null">
        par_dict_name = #{record.parDictName,jdbcType=VARCHAR},
      </if>
      <if test="record.parDictCreateDate != null">
        par_dict_create_date = #{record.parDictCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update parent_dictionary
    set par_dict_id = #{record.parDictId,jdbcType=VARCHAR},
      par_dict_name = #{record.parDictName,jdbcType=VARCHAR},
      par_dict_create_date = #{record.parDictCreateDate,jdbcType=TIMESTAMP},
      sort = #{record.sort,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgg.store.util.pojo.ParentDictionary">
    update parent_dictionary
    <set>
      <if test="parDictName != null">
        par_dict_name = #{parDictName,jdbcType=VARCHAR},
      </if>
      <if test="parDictCreateDate != null">
        par_dict_create_date = #{parDictCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
    </set>
    where par_dict_id = #{parDictId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgg.store.util.pojo.ParentDictionary">
    update parent_dictionary
    set par_dict_name = #{parDictName,jdbcType=VARCHAR},
      par_dict_create_date = #{parDictCreateDate,jdbcType=TIMESTAMP},
      sort = #{sort,jdbcType=VARCHAR}
    where par_dict_id = #{parDictId,jdbcType=VARCHAR}
  </update>
</mapper>