<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.PermissionModelMapper">
    <resultMap id="QMPermissionVO" type="com.dgg.store.util.vo.permission.QMPermissionVO">
        <result column="qm_permission_pid" property="permissionType" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listPermissionModel" resultMap="QMPermissionVO">
        SELECT qm_permission_pid
        FROM
        (SELECT qp.qm_permission_pid,u.user_id FROM qm_permission qp
        INNER JOIN position_permission_re ppr
        ON qp.qm_permission_id = ppr.qm_permission_id
        INNER JOIN user u
        ON u.position_id = ppr.position_id
        UNION
        SELECT qp.qm_permission_pid,u.user_id FROM qm_permission qp
        INNER JOIN user_qm_permission_re uqpr
        ON uqpr.qm_permission_id = qp.qm_permission_id
        INNER JOIN user u
        ON uqpr.user_id = u.user_id) t1
        WHERE t1.user_id = #{userId}
        AND qm_permission_pid != 'super'
        GROUP BY qm_permission_pid
    </select>

</mapper>