<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.RegisterMapper">
    <resultMap id="LoginRepVO" type="com.dgg.store.util.vo.core.LoginRepVO">
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_img" property="userImg" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_area" property="userArea" jdbcType="VARCHAR"/>
        <result column="user_status" property="userStatus" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="my_team_id" property="myTeamId" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="team_department_id" property="departmentId" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateUserData" parameterType="com.dgg.store.util.vo.register.RegisterVO">
        UPDATE user
        <set>
            <if test="cardFront != null and cardFront != ''">
                user_card_front = #{cardFront},
            </if>
            <if test="cardBack != null and cardBack != ''">
                user_card_back = #{cardBack},
            </if>
            <if test="cardHand != null and cardHand != ''">
                user_card_hand = #{cardHand},
            </if>
            <if test="userPassword != null and userPassword != ''">
                user_password = #{userPassword},
            </if>
            <if test="userStatus != null and userStatus != ''">
                user_status = #{userStatus},
            </if>
            <if test="token != null and token != ''">
                token = #{token},
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <select id="findLoginRepVO" resultMap="LoginRepVO" parameterType="com.dgg.store.util.vo.register.RegisterVO">
        SELECT u.user_id, u.user_name, u.user_phone,
        u.user_img,u.user_area, u.token,
        u.user_status,u.user_password,u.role_id,
        u.my_team_id,u.team_department_id
        FROM user u
        LEFT JOIN customer c
        ON c.my_team_id = u.my_team_id
        WHERE 1 = 1
        <if test="userId != null and userId != ''">
            AND u.user_id = #{userId}
        </if>
        <if test="userPhone != null and userPhone != ''">
            AND u.user_phone = #{userPhone}
        </if>
        <if test="myTeamId != null and myTeamId != ''">
            AND u.my_team_id = #{myTeamId}
        </if>
        GROUP BY u.user_id
    </select>
</mapper>