<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.RepertoryCheckMapper">
    <resultMap id="GoodsDetailVO" type="com.dgg.store.util.vo.goods.GoodsDetailVO">
        <id column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_attr" property="goodsAttr" jdbcType="VARCHAR"/>
        <result column="goods_price" property="goodsPrice" jdbcType="FLOAT"/>
        <result column="goods_count" property="goodsCount" jdbcType="INTEGER"/>
        <result column="goods_freight" property="goodsFreight" jdbcType="INTEGER"/>
        <result column="goods_sales" property="goodsSales" jdbcType="INTEGER"/>
        <result column="goods_type" property="goodsType" jdbcType="VARCHAR"/>
        <result column="goods_create_date" property="goodsCreateDate" jdbcType="DATE"/>
    </resultMap>

    <resultMap id="GoodsStandard" type="com.dgg.store.util.pojo.GoodsStandard">
        <result column="standard_id" property="standardId" jdbcType="VARCHAR"/>
        <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
        <result column="standard_price" property="standardPrice" jdbcType="FLOAT"/>
        <result column="standard_count" property="standardCount" jdbcType="INTEGER"/>
    </resultMap>

    <select id="listGoods" resultMap="GoodsDetailVO" parameterType="com.dgg.store.util.vo.branch.BranchVO">
        SELECT gi.goods_id,gi.goods_name,gt.goods_type_name goods_type
        FROM goodsinfo gi
        INNER JOIN goods_typeinfo gt
        ON gt.goods_type_id = gi.goods_type_id
        WHERE my_team_id = #{myTeamId}
        LIMIT #{start},#{end}
    </select>

    <select id="listStandards" resultMap="GoodsStandard" parameterType="com.dgg.store.util.vo.goods.GoodsDetailVO">
        SELECT gs.standard_id,gs.standard_name,gs.standard_count
        FROM goods_standard gs
        WHERE gs.goods_id = #{goodsId}
    </select>

    <select id="countGoods" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM goodsinfo gi
        INNER JOIN goods_standard gs
        ON gs.goods_id = gi.goods_id
        WHERE gi.my_team_id = #{myTeamId}
    </select>

    <select id="countBranchGoods" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM goodsinfo gi
        INNER JOIN goods_standard gs
        ON gs.goods_id = gi.goods_id
        INNER JOIN qm_branch_goods bg
        ON bg.standard_id = gs.standard_id
        WHERE bg.branch_id = #{branchId}
    </select>

    <select id="listBranchGoods" resultMap="GoodsDetailVO" parameterType="com.dgg.store.util.vo.branch.BranchVO">
        SELECT gi.goods_id,gi.goods_name,gi.goods_create_date,
        gt.goods_type_name goods_type,
        ifnull((SELECT standard_count FROM qm_branch_goods WHERE branch_id = #{branchId} and goods_id = gi.goods_id),0)
        FROM goodsinfo gi
        LEFT JOIN goods_typeinfo gt
        ON gt.goods_type_id = gi.goods_type_id
        GROUP BY gi.goods_id
        LIMIT #{start},#{end}
    </select>

    <select id="listBranchStandards" resultMap="GoodsStandard" parameterType="com.dgg.store.util.vo.goods.GoodsDetailVO">
        SELECT gs.standard_id,gs.standard_name,gs.standard_price,
        bg.standard_count
        FROM goods_standard gs
        INNER JOIN qm_branch_goods bg
        ON bg.standard_id = gs.standard_id
        WHERE gs.goods_id = #{goodsId}
        AND bg.branch_id = #{branchId}
    </select>

    <select id="getBranchId" resultType="java.lang.String">
        SELECT qb.branch_id
        FROM qm_branch qb
        INNER JOIN user u
        ON qb.department_id = u.team_department_id
        WHERE u.user_id = #{userId}
    </select>
</mapper>