<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.ShoppingCarMapper">
    <resultMap id="AddressMap" type="com.dgg.store.util.pojo.ShoppingAddress">
        <id column="user_address_id" property="userAddressId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_address_text" property="userAddressText" jdbcType="VARCHAR"/>
        <result column="user_address_area" property="userAddressArea" jdbcType="VARCHAR"/>
        <result column="user_address_name" property="userAddressName" jdbcType="VARCHAR"/>
        <result column="user_address_phone" property="userAddressPhone" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertGoodsToCar" parameterType="com.dgg.store.util.pojo.ShoppingCar">
        INSERT INTO dgg_store.shopping_cart (user_id, goods_id, standard_id, goods_num)
        VALUES
        (#{userId},#{goodsId},#{standardId},#{goodsNum})
    </insert>

    <delete id="deleteGoodsFromCar">
        DELETE FROM dgg_store.shopping_cart
        WHERE goods_id = #{goodsId}
    </delete>

    <select id="findDefaultAddress">
        SELECT sa.user_address_name,sa.user_address_phone,sa.user_address_area,sa.user_address_text
        FROM dgg_store.shopping_address sa
        WHERE sa.user_id = #{userId} AND sa.user_address_default = 1
    </select>

    <select id="findShoppingAddresses">
        SELECT sa.user_address_id,sa.user_address_name,sa.user_address_phone,sa.user_address_area,sa.user_address_text
        FROM dgg_store.shopping_address sa
        WHERE sa.user_id = #{userId}
    </select>

    <select id="findShoppingAddress">
        SELECT sa.user_address_name,sa.user_address_phone,sa.user_address_area,sa.user_address_text
        FROM dgg_store.shopping_address sa
        WHERE sa.user_address_id = #{addressId}
    </select>

    <insert id="insertMyOrder" parameterType="com.dgg.store.util.vo.goods.MyOrderVO">
        INSERT INTO my_order (order_id, user_id, order_status, recipient, contact_number, address, remark, payment)
        VALUES
        (#{orderId},#{userId},#{orderStatus},#{recipient},#{contactNumber},#{address},#{remark},#{payment})
    </insert>

    <insert id="insertOrderList" parameterType="com.dgg.store.util.pojo.MyOrderList">
        INSERT INTO my_order_list (order_list_id, order_id, goods_id, goods_num, price, goods_name)
        VALUES
        (#{orderListId},#{orderId},#{goodsId},#{goodsNum},#{price},#{goodsName})
    </insert>
</mapper>