<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.dgg.store.util.pojo.ShoppingCart">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="standard_id" jdbcType="VARCHAR" property="standardId" />
    <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, goods_id, standard_id, goods_num, create_date
  </sql>
  <select id="selectByExample" parameterType="com.dgg.store.util.pojo.ShoppingCartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.dgg.store.util.pojo.ShoppingCartExample">
    delete from shopping_cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dgg.store.util.pojo.ShoppingCart">
    insert into shopping_cart (user_id, goods_id, standard_id, 
      goods_num, create_date)
    values (#{userId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{standardId,jdbcType=VARCHAR}, 
      #{goodsNum,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dgg.store.util.pojo.ShoppingCart">
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="standardId != null">
        standard_id,
      </if>
      <if test="goodsNum != null">
        goods_num,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="standardId != null">
        #{standardId,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dgg.store.util.pojo.ShoppingCartExample" resultType="java.lang.Long">
    select count(*) from shopping_cart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shopping_cart
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.standardId != null">
        standard_id = #{record.standardId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsNum != null">
        goods_num = #{record.goodsNum,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shopping_cart
    set user_id = #{record.userId,jdbcType=VARCHAR},
      goods_id = #{record.goodsId,jdbcType=VARCHAR},
      standard_id = #{record.standardId,jdbcType=VARCHAR},
      goods_num = #{record.goodsNum,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>





























  <resultMap id="ShoppingCartVO" type="com.dgg.store.util.vo.cart.ShoppingCartVO">
    <result column="goods_num" property="goodsNum" jdbcType="VARCHAR"/>
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
    <result column="standard_id" property="standardId" jdbcType="VARCHAR"/>
    <result column="standard_name" property="standardName" jdbcType="VARCHAR"/>
    <result column="standard_price" property="standardPrice" jdbcType="FLOAT"/>
  </resultMap>

  <select id="listGoodsFromCart" resultMap="ShoppingCartVO">
    SELECT sc.goods_num,
        gi.goods_id,gi.goods_name,
        gs.standard_id,gs.standard_name,gs.standard_price
    FROM shopping_cart sc
    INNER JOIN goodsinfo gi
    ON gi.goods_id = sc.goods_id
    INNER JOIN goods_standard gs
    ON gs.standard_id = sc.standard_id
    WHERE sc.user_id = #{userId}
  </select>

  <select id="getGoodsImg" resultType="java.lang.String">
    SELECT imgs.image_path
    FROM goods_image gimg
    INNER JOIN image_space imgs
    ON imgs.image_id = gimg.image_id
    WHERE gimg.goods_id = #{goodsId}
    limit 0,1
  </select>

</mapper>