<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.UserDevicesMapper">
  <resultMap id="BaseResultMap" type="com.dgg.store.util.pojo.UserDevices">
    <id column="user_device_id" jdbcType="VARCHAR" property="userDeviceId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_device_name" jdbcType="VARCHAR" property="userDeviceName" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="delete_date" jdbcType="DATE" property="deleteDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_device_id, user_id, user_device_name, is_deleted, delete_date
  </sql>
  <select id="selectByExample" parameterType="com.dgg.store.util.pojo.UserDevicesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_devices
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_devices
    where user_device_id = #{userDeviceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_devices
    where user_device_id = #{userDeviceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dgg.store.util.pojo.UserDevicesExample">
    delete from user_devices
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dgg.store.util.pojo.UserDevices">
    insert into user_devices (user_device_id, user_id, user_device_name, 
      is_deleted, delete_date)
    values (#{userDeviceId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userDeviceName,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=TINYINT}, #{deleteDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.dgg.store.util.pojo.UserDevices">
    insert into user_devices
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userDeviceId != null">
        user_device_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userDeviceName != null">
        user_device_name,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="deleteDate != null">
        delete_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userDeviceId != null">
        #{userDeviceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userDeviceName != null">
        #{userDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="deleteDate != null">
        #{deleteDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dgg.store.util.pojo.UserDevicesExample" resultType="java.lang.Long">
    select count(*) from user_devices
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_devices
    <set>
      <if test="record.userDeviceId != null">
        user_device_id = #{record.userDeviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userDeviceName != null">
        user_device_name = #{record.userDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.deleteDate != null">
        delete_date = #{record.deleteDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_devices
    set user_device_id = #{record.userDeviceId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      user_device_name = #{record.userDeviceName,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      delete_date = #{record.deleteDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgg.store.util.pojo.UserDevices">
    update user_devices
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userDeviceName != null">
        user_device_name = #{userDeviceName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="deleteDate != null">
        delete_date = #{deleteDate,jdbcType=DATE},
      </if>
    </set>
    where user_device_id = #{userDeviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgg.store.util.pojo.UserDevices">
    update user_devices
    set user_id = #{userId,jdbcType=VARCHAR},
      user_device_name = #{userDeviceName,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      delete_date = #{deleteDate,jdbcType=DATE}
    where user_device_id = #{userDeviceId,jdbcType=VARCHAR}
  </update>
</mapper>