<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.UserBreedMapper">
  <resultMap id="BaseResultMap" type="com.dgg.store.util.pojo.UserBreed">
    <id column="breed_id" jdbcType="VARCHAR" property="breedId" />
    <result column="breed_category" jdbcType="VARCHAR" property="breedCategory" />
    <result column="breed_variety" jdbcType="VARCHAR" property="breedVariety" />
    <result column="breed_type" jdbcType="VARCHAR" property="breedType" />
    <result column="male_num" jdbcType="INTEGER" property="maleNum" />
    <result column="female_num" jdbcType="INTEGER" property="femaleNum" />
    <result column="obstetric_table_num" jdbcType="INTEGER" property="obstetricTableNum" />
    <result column="shed_num" jdbcType="INTEGER" property="shedNum" />
    <result column="empty_shed_num" jdbcType="INTEGER" property="emptyShedNum" />
    <result column="competitive_brand" jdbcType="VARCHAR" property="competitiveBrand" />
    <result column="livestock_num" jdbcType="INTEGER" property="livestockNum" />
    <result column="user_place_id" jdbcType="VARCHAR" property="userPlaceId" />
    <result column="breed_age" jdbcType="INTEGER" property="breedAge" />
    <result column="breed_scale" jdbcType="INTEGER" property="breedScale" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    breed_id, breed_category, breed_variety, breed_type, male_num, female_num, obstetric_table_num, 
    shed_num, empty_shed_num, competitive_brand, livestock_num, user_place_id, breed_age, 
    breed_scale, create_date, is_deleted, delete_date
  </sql>
  <select id="selectByExample" parameterType="com.dgg.store.util.pojo.UserBreedExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_breed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_breed
    where breed_id = #{breedId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_breed
    where breed_id = #{breedId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dgg.store.util.pojo.UserBreedExample">
    delete from user_breed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dgg.store.util.pojo.UserBreed">
    insert into user_breed (breed_id, breed_category, breed_variety, 
      breed_type, male_num, female_num, 
      obstetric_table_num, shed_num, empty_shed_num, 
      competitive_brand, livestock_num, user_place_id, 
      breed_age, breed_scale, create_date, 
      is_deleted, delete_date)
    values (#{breedId,jdbcType=VARCHAR}, #{breedCategory,jdbcType=VARCHAR}, #{breedVariety,jdbcType=VARCHAR}, 
      #{breedType,jdbcType=VARCHAR}, #{maleNum,jdbcType=INTEGER}, #{femaleNum,jdbcType=INTEGER}, 
      #{obstetricTableNum,jdbcType=INTEGER}, #{shedNum,jdbcType=INTEGER}, #{emptyShedNum,jdbcType=INTEGER}, 
      #{competitiveBrand,jdbcType=VARCHAR}, #{livestockNum,jdbcType=INTEGER}, #{userPlaceId,jdbcType=VARCHAR}, 
      #{breedAge,jdbcType=INTEGER}, #{breedScale,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT}, #{deleteDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dgg.store.util.pojo.UserBreed">
    insert into user_breed
    <trim prefix="(" suffix=")" suffixOverrides=",">
        breed_id,
      <if test="breedCategory != null">
        breed_category,
      </if>
      <if test="breedVariety != null">
        breed_variety,
      </if>
      <if test="breedType != null">
        breed_type,
      </if>
      <if test="maleNum != null">
        male_num,
      </if>
      <if test="femaleNum != null">
        female_num,
      </if>
      <if test="obstetricTableNum != null">
        obstetric_table_num,
      </if>
      <if test="shedNum != null">
        shed_num,
      </if>
      <if test="emptyShedNum != null">
        empty_shed_num,
      </if>
      <if test="competitiveBrand != null">
        competitive_brand,
      </if>
      <if test="livestockNum != null">
        livestock_num,
      </if>
        user_place_id,
      <if test="breedAge != null">
        breed_age,
      </if>
      <if test="breedScale != null">
        breed_scale,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="deleteDate != null">
        delete_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        #{breedId,jdbcType=VARCHAR},
      <if test="breedCategory != null">
        #{breedCategory,jdbcType=VARCHAR},
      </if>
      <if test="breedVariety != null">
        #{breedVariety,jdbcType=VARCHAR},
      </if>
      <if test="breedType != null">
        #{breedType,jdbcType=VARCHAR},
      </if>
      <if test="maleNum != null">
        #{maleNum,jdbcType=INTEGER},
      </if>
      <if test="femaleNum != null">
        #{femaleNum,jdbcType=INTEGER},
      </if>
      <if test="obstetricTableNum != null">
        #{obstetricTableNum,jdbcType=INTEGER},
      </if>
      <if test="shedNum != null">
        #{shedNum,jdbcType=INTEGER},
      </if>
      <if test="emptyShedNum != null">
        #{emptyShedNum,jdbcType=INTEGER},
      </if>
      <if test="competitiveBrand != null">
        #{competitiveBrand,jdbcType=VARCHAR},
      </if>
      <if test="livestockNum != null">
        #{livestockNum,jdbcType=INTEGER},
      </if>
        #{userPlaceId,jdbcType=VARCHAR},
      <if test="breedAge != null">
        #{breedAge,jdbcType=INTEGER},
      </if>
      <if test="breedScale != null">
        #{breedScale,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="deleteDate != null">
        #{deleteDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dgg.store.util.pojo.UserBreedExample" resultType="java.lang.Long">
    select count(*) from user_breed
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_breed
    <set>
      <if test="record.breedId != null">
        breed_id = #{record.breedId,jdbcType=VARCHAR},
      </if>
      <if test="record.breedCategory != null">
        breed_category = #{record.breedCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.breedVariety != null">
        breed_variety = #{record.breedVariety,jdbcType=VARCHAR},
      </if>
      <if test="record.breedType != null">
        breed_type = #{record.breedType,jdbcType=VARCHAR},
      </if>
      <if test="record.maleNum != null">
        male_num = #{record.maleNum,jdbcType=INTEGER},
      </if>
      <if test="record.femaleNum != null">
        female_num = #{record.femaleNum,jdbcType=INTEGER},
      </if>
      <if test="record.obstetricTableNum != null">
        obstetric_table_num = #{record.obstetricTableNum,jdbcType=INTEGER},
      </if>
      <if test="record.shedNum != null">
        shed_num = #{record.shedNum,jdbcType=INTEGER},
      </if>
      <if test="record.emptyShedNum != null">
        empty_shed_num = #{record.emptyShedNum,jdbcType=INTEGER},
      </if>
      <if test="record.competitiveBrand != null">
        competitive_brand = #{record.competitiveBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.livestockNum != null">
        livestock_num = #{record.livestockNum,jdbcType=INTEGER},
      </if>
      <if test="record.userPlaceId != null">
        user_place_id = #{record.userPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.breedAge != null">
        breed_age = #{record.breedAge,jdbcType=INTEGER},
      </if>
      <if test="record.breedScale != null">
        breed_scale = #{record.breedScale,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.deleteDate != null">
        delete_date = #{record.deleteDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_breed
    set breed_id = #{record.breedId,jdbcType=VARCHAR},
      breed_category = #{record.breedCategory,jdbcType=VARCHAR},
      breed_variety = #{record.breedVariety,jdbcType=VARCHAR},
      breed_type = #{record.breedType,jdbcType=VARCHAR},
      male_num = #{record.maleNum,jdbcType=INTEGER},
      female_num = #{record.femaleNum,jdbcType=INTEGER},
      obstetric_table_num = #{record.obstetricTableNum,jdbcType=INTEGER},
      shed_num = #{record.shedNum,jdbcType=INTEGER},
      empty_shed_num = #{record.emptyShedNum,jdbcType=INTEGER},
      competitive_brand = #{record.competitiveBrand,jdbcType=VARCHAR},
      livestock_num = #{record.livestockNum,jdbcType=INTEGER},
      user_place_id = #{record.userPlaceId,jdbcType=VARCHAR},
      breed_age = #{record.breedAge,jdbcType=INTEGER},
      breed_scale = #{record.breedScale,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      delete_date = #{record.deleteDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgg.store.util.pojo.UserBreed">
    update user_breed
    <set>
      <if test="breedCategory != null">
        breed_category = #{breedCategory,jdbcType=VARCHAR},
      </if>
      <if test="breedVariety != null">
        breed_variety = #{breedVariety,jdbcType=VARCHAR},
      </if>
      <if test="breedType != null">
        breed_type = #{breedType,jdbcType=VARCHAR},
      </if>
      <if test="maleNum != null">
        male_num = #{maleNum,jdbcType=INTEGER},
      </if>
      <if test="femaleNum != null">
        female_num = #{femaleNum,jdbcType=INTEGER},
      </if>
      <if test="obstetricTableNum != null">
        obstetric_table_num = #{obstetricTableNum,jdbcType=INTEGER},
      </if>
      <if test="shedNum != null">
        shed_num = #{shedNum,jdbcType=INTEGER},
      </if>
      <if test="emptyShedNum != null">
        empty_shed_num = #{emptyShedNum,jdbcType=INTEGER},
      </if>
      <if test="competitiveBrand != null">
        competitive_brand = #{competitiveBrand,jdbcType=VARCHAR},
      </if>
      <if test="livestockNum != null">
        livestock_num = #{livestockNum,jdbcType=INTEGER},
      </if>
      <if test="userPlaceId != null">
        user_place_id = #{userPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="breedAge != null">
        breed_age = #{breedAge,jdbcType=INTEGER},
      </if>
      <if test="breedScale != null">
        breed_scale = #{breedScale,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="deleteDate != null">
        delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where breed_id = #{breedId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgg.store.util.pojo.UserBreed">
    update user_breed
    set breed_category = #{breedCategory,jdbcType=VARCHAR},
      breed_variety = #{breedVariety,jdbcType=VARCHAR},
      breed_type = #{breedType,jdbcType=VARCHAR},
      male_num = #{maleNum,jdbcType=INTEGER},
      female_num = #{femaleNum,jdbcType=INTEGER},
      obstetric_table_num = #{obstetricTableNum,jdbcType=INTEGER},
      shed_num = #{shedNum,jdbcType=INTEGER},
      empty_shed_num = #{emptyShedNum,jdbcType=INTEGER},
      competitive_brand = #{competitiveBrand,jdbcType=VARCHAR},
      livestock_num = #{livestockNum,jdbcType=INTEGER},
      user_place_id = #{userPlaceId,jdbcType=VARCHAR},
      breed_age = #{breedAge,jdbcType=INTEGER},
      breed_scale = #{breedScale,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      delete_date = #{deleteDate,jdbcType=TIMESTAMP}
    where breed_id = #{breedId,jdbcType=VARCHAR}
  </update>
</mapper>