<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.UserPlaceMapper">
  <resultMap id="BaseResultMap" type="com.dgg.store.util.pojo.UserPlace">
    <id column="user_place_id" jdbcType="VARCHAR" property="userPlaceId" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="user_place_name" jdbcType="VARCHAR" property="userPlaceName" />
    <result column="user_place_acreage" jdbcType="INTEGER" property="userPlaceAcreage" />
    <result column="user_employee_num" jdbcType="INTEGER" property="userEmployeeNum" />
    <result column="user_owner_num" jdbcType="INTEGER" property="userOwnerNum" />
    <result column="user_already_use" jdbcType="INTEGER" property="userAlreadyUse" />
    <result column="user_place_address" jdbcType="VARCHAR" property="userPlaceAddress" />
    <result column="user_place_area" jdbcType="VARCHAR" property="userPlaceArea" />
    <result column="user_place_type" jdbcType="VARCHAR" property="userPlaceType" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="delete_date" jdbcType="DATE" property="deleteDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_place_id, customer_id, user_place_name, user_place_acreage, user_employee_num, 
    user_owner_num, user_already_use, user_place_address, user_place_area, user_place_type, 
    create_date, is_deleted, delete_date
  </sql>
  <select id="selectByExample" parameterType="com.dgg.store.util.pojo.UserPlaceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_place
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_place
    where user_place_id = #{userPlaceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_place
    where user_place_id = #{userPlaceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dgg.store.util.pojo.UserPlaceExample">
    delete from user_place
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dgg.store.util.pojo.UserPlace">
    insert into user_place (user_place_id, customer_id, user_place_name, 
      user_place_acreage, user_employee_num, user_owner_num, 
      user_already_use, user_place_address, user_place_area, 
      user_place_type)
    values (#{userPlaceId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{userPlaceName,jdbcType=VARCHAR}, 
      #{userPlaceAcreage,jdbcType=INTEGER}, #{userEmployeeNum,jdbcType=INTEGER}, #{userOwnerNum,jdbcType=INTEGER}, 
      #{userAlreadyUse,jdbcType=INTEGER}, #{userPlaceAddress,jdbcType=VARCHAR}, #{userPlaceArea,jdbcType=VARCHAR}, 
      #{userPlaceType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dgg.store.util.pojo.UserPlace">
    insert into user_place
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userPlaceId != null">
        user_place_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="userPlaceName != null">
        user_place_name,
      </if>
      <if test="userPlaceAcreage != null">
        user_place_acreage,
      </if>
      <if test="userEmployeeNum != null">
        user_employee_num,
      </if>
      <if test="userOwnerNum != null">
        user_owner_num,
      </if>
      <if test="userAlreadyUse != null">
        user_already_use,
      </if>
      <if test="userPlaceAddress != null">
        user_place_address,
      </if>
      <if test="userPlaceArea != null">
        user_place_area,
      </if>
      <if test="userPlaceType != null">
        user_place_type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="deleteDate != null">
        delete_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userPlaceId != null">
        #{userPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="userPlaceName != null">
        #{userPlaceName,jdbcType=VARCHAR},
      </if>
      <if test="userPlaceAcreage != null">
        #{userPlaceAcreage,jdbcType=INTEGER},
      </if>
      <if test="userEmployeeNum != null">
        #{userEmployeeNum,jdbcType=INTEGER},
      </if>
      <if test="userOwnerNum != null">
        #{userOwnerNum,jdbcType=INTEGER},
      </if>
      <if test="userAlreadyUse != null">
        #{userAlreadyUse,jdbcType=INTEGER},
      </if>
      <if test="userPlaceAddress != null">
        #{userPlaceAddress,jdbcType=VARCHAR},
      </if>
      <if test="userPlaceArea != null">
        #{userPlaceArea,jdbcType=VARCHAR},
      </if>
      <if test="userPlaceType != null">
        #{userPlaceType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="deleteDate != null">
        #{deleteDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dgg.store.util.pojo.UserPlaceExample" resultType="java.lang.Long">
    select count(*) from user_place
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_place
    <set>
      <if test="record.userPlaceId != null">
        user_place_id = #{record.userPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.userPlaceName != null">
        user_place_name = #{record.userPlaceName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPlaceAcreage != null">
        user_place_acreage = #{record.userPlaceAcreage,jdbcType=INTEGER},
      </if>
      <if test="record.userEmployeeNum != null">
        user_employee_num = #{record.userEmployeeNum,jdbcType=INTEGER},
      </if>
      <if test="record.userOwnerNum != null">
        user_owner_num = #{record.userOwnerNum,jdbcType=INTEGER},
      </if>
      <if test="record.userAlreadyUse != null">
        user_already_use = #{record.userAlreadyUse,jdbcType=INTEGER},
      </if>
      <if test="record.userPlaceAddress != null">
        user_place_address = #{record.userPlaceAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.userPlaceArea != null">
        user_place_area = #{record.userPlaceArea,jdbcType=VARCHAR},
      </if>
      <if test="record.userPlaceType != null">
        user_place_type = #{record.userPlaceType,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.deleteDate != null">
        delete_date = #{record.deleteDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_place
    set user_place_id = #{record.userPlaceId,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=VARCHAR},
      user_place_name = #{record.userPlaceName,jdbcType=VARCHAR},
      user_place_acreage = #{record.userPlaceAcreage,jdbcType=INTEGER},
      user_employee_num = #{record.userEmployeeNum,jdbcType=INTEGER},
      user_owner_num = #{record.userOwnerNum,jdbcType=INTEGER},
      user_already_use = #{record.userAlreadyUse,jdbcType=INTEGER},
      user_place_address = #{record.userPlaceAddress,jdbcType=VARCHAR},
      user_place_area = #{record.userPlaceArea,jdbcType=VARCHAR},
      user_place_type = #{record.userPlaceType,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      delete_date = #{record.deleteDate,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgg.store.util.pojo.UserPlace">
    update user_place
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="userPlaceName != null">
        user_place_name = #{userPlaceName,jdbcType=VARCHAR},
      </if>
      <if test="userPlaceAcreage != null">
        user_place_acreage = #{userPlaceAcreage,jdbcType=INTEGER},
      </if>
      <if test="userEmployeeNum != null">
        user_employee_num = #{userEmployeeNum,jdbcType=INTEGER},
      </if>
      <if test="userOwnerNum != null">
        user_owner_num = #{userOwnerNum,jdbcType=INTEGER},
      </if>
      <if test="userAlreadyUse != null">
        user_already_use = #{userAlreadyUse,jdbcType=INTEGER},
      </if>
      <if test="userPlaceAddress != null">
        user_place_address = #{userPlaceAddress,jdbcType=VARCHAR},
      </if>
      <if test="userPlaceArea != null">
        user_place_area = #{userPlaceArea,jdbcType=VARCHAR},
      </if>
      <if test="userPlaceType != null">
        user_place_type = #{userPlaceType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="deleteDate != null">
        delete_date = #{deleteDate,jdbcType=DATE},
      </if>
    </set>
    where user_place_id = #{userPlaceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgg.store.util.pojo.UserPlace">
    update user_place
    set customer_id = #{customerId,jdbcType=VARCHAR},
      user_place_name = #{userPlaceName,jdbcType=VARCHAR},
      user_place_acreage = #{userPlaceAcreage,jdbcType=INTEGER},
      user_employee_num = #{userEmployeeNum,jdbcType=INTEGER},
      user_owner_num = #{userOwnerNum,jdbcType=INTEGER},
      user_already_use = #{userAlreadyUse,jdbcType=INTEGER},
      user_place_address = #{userPlaceAddress,jdbcType=VARCHAR},
      user_place_area = #{userPlaceArea,jdbcType=VARCHAR},
      user_place_type = #{userPlaceType,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      delete_date = #{deleteDate,jdbcType=DATE}
    where user_place_id = #{userPlaceId,jdbcType=VARCHAR}
  </update>













  <resultMap id="UserPlace" type="com.dgg.store.util.pojo.UserPlace">
    <id column="user_place_id" jdbcType="VARCHAR" property="userPlaceId" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="user_place_acreage" jdbcType="INTEGER" property="userPlaceAcreage" />
    <result column="user_employee_num" jdbcType="INTEGER" property="userEmployeeNum" />
    <result column="user_owner_num" jdbcType="INTEGER" property="userOwnerNum" />
    <result column="user_already_use" jdbcType="INTEGER" property="userAlreadyUse" />
    <result column="user_place_area" jdbcType="VARCHAR" property="userPlaceArea" />
    <result column="user_place_type" jdbcType="VARCHAR" property="userPlaceType" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <collection property="imageList" ofType="com.dgg.store.util.pojo.PlaceImage">
      <result column="img_id" property="imgId" jdbcType="VARCHAR"/>
      <result column="img_type" property="imgType" jdbcType="TINYINT"/>
      <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>

  <insert id="insertPlaceImage" parameterType="com.dgg.store.util.pojo.PlaceImage">
    insert into place_image (img_id, img_type, user_place_id,
    img_url)
    values (#{imgId,jdbcType=VARCHAR}, #{imgType,jdbcType=TINYINT}, #{userPlaceId,jdbcType=VARCHAR},
    #{imgUrl,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updatePlaceImage">
    UPDATE place_image
    <set>
      user_place_id = #{placeId},
    </set>
    WHERE img_id
    IN
    <foreach collection="images" index="i" open="(" close=")" item="item" separator=",">
      #{item}
    </foreach>
  </update>

  <select id="listUserPlace" parameterType="com.dgg.store.util.pojo.UserPlace" resultMap="UserPlace">
    SELECT up.user_place_id, up.customer_id,
          up.user_place_acreage, up.user_employee_num, up.user_owner_num,
          up.user_already_use, up.user_place_area, up.user_place_type,
          pi.img_id,pi.img_url,pi.img_type
    FROM user_place up
    LEFT JOIN place_image pi
    ON pi.user_place_id = up.user_place_id
    WHERE up.customer_id = #{customerId}
    LIMIT #{pageNum},#{pageSize}
  </select>

  <delete id="deletePlaceImage" parameterType="com.dgg.store.util.pojo.PlaceImage">
    DELETE FROM place_image
    WHERE
    <if test="imgId != null and imgId != ''">
      img_id = #{imgId}
    </if>
    <if test="userPlaceId != null and userPlaceId != ''">
      user_place_id = #{userPlaceId}
    </if>
  </delete>

  <select id="countUserPlace" resultType="java.lang.Integer">
    SELECT COUNT(0)
    FROM user_place up
    LEFT JOIN place_image pi
    ON pi.user_place_id = up.user_place_id
    WHERE up.customer_id = #{customerId}
  </select>

  <select id="getUserPlaceById" resultMap="UserPlace">
    SELECT up.user_place_id, up.customer_id,
          up.user_place_acreage, up.user_employee_num, up.user_owner_num,
          up.user_already_use, up.user_place_area, up.user_place_type,
          pi.img_id,pi.img_url,pi.img_type
    FROM user_place up
    LEFT JOIN place_image pi
    ON pi.user_place_id = up.user_place_id
    WHERE up.user_place_id = #{placeId}
  </select>
</mapper>