<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgg.store.mapper.UserEstimateMapper">
    <resultMap id="BaseResultMap" type="com.dgg.store.util.vo.goods.UserEstimateVO">
        <id column="estimate_id" jdbcType="INTEGER" property="estimateId"/>
        <result column="estimate_num" jdbcType="TINYINT" property="estimateNum"/>
        <result column="estimate_text" jdbcType="VARCHAR" property="estimateText"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    </resultMap>

    <resultMap id="GoodsInfoVOMap" type="com.dgg.store.util.vo.goods.GoodsInfoVO">
        <id column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_price" property="goodsPrice" jdbcType="FLOAT"/>
        <result column="image_path" property="goodsImages" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertEstimate" parameterType="com.dgg.store.util.vo.goods.UserEstimateVO">
        INSERT INTO dgg_store.user_estimate(user_id, goods_id, estimate_text, estimate_num)
        VALUES
        (#{userId},#{goodsId},#{estimateText},#{estimateNum})
    </insert>

    <select id="findEstimate" parameterType="com.dgg.store.util.vo.goods.UserEstimateVO">
        SELECT e.estimate_id, e.estimate_text, e.estimate_num,u.user_name
        FROM dgg_store.user_estimate e
        INNER JOIN dgg_store.user u
        WHERE e.goods_id = #{goodsId}
        LIMIT #{pageNum},#{pageSize}
    </select>

    <insert id="insertEnshrine">
        INSERT INTO dgg_store.goods_enshrine (goods_id, user_id)
        VALUES (#{goodsId},#{userId})
    </insert>

    <delete id="deleteEnshrine">
        DELETE FROM dgg_store.goods_enshrine
        WHERE user_id = #{userId} AND goods_id = #{goodsId}
    </delete>

    <select id="findEnshrine" resultMap="GoodsInfoVOMap">
        SELECT gd.goods_id,gd.goods_name,gd.goods_price,imgsp.image_path
        FROM dgg_store.goodsinfo gd
        INNER JOIN dgg_store.goods_enshrine ge
        ON gd.goods_id = ge.goods_id
        INNER JOIN dgg_store.goods_image img
        ON img.goods_id = gd.goods_id
        INNER JOIN dgg_store.image_space imgsp
        ON imgsp.image_id = img.image_id
        WHERE img.goods_img_type = 1 AND ge.user_id = #{userId}
    </select>
</mapper>