.goods-cont {
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 30px 0 40px;
}

.goods-title {
    line-height: 40px;
    padding-left: 20px;
    border-bottom: 2px solid #00abf0;
}

.goods-box1 {
    width: 100%;
    height: 44px;
    padding: 5px 0;
    min-width: 600px;
}

.goods-box1-1 {
    width: 10%;
    max-width: 90px;
    line-height: 34px;
    float: left;
}

.goods-box1-2 {
    width: 40%;
    height: 34px;
    float: left;
}

.goods-box1-2 a {
    display: inline-block;
    text-align: center;
    line-height: 34px;
}

.goods-box1 .goods-box1-2 input {
    padding: 0;
    height: 34px;
    border: 1px solid #9d9d9d;
    border-radius: 2px;
    background: #FFFFFF;
}

.goodssize {
    background: #f2f2f2;
}

.goodssize table {
    width: 100%;
}

.goodssize .frist-tr {
    border-bottom: 1px solid #9d9d9d;
}

.goodssize table th {
    padding: 10px 14px 5px 30px;
}

.goodssize table td {
    padding: 10px 14px 5px 14px;
}

.goodssize table td input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: #FFFFFF;
}

.goodssize table .tab4 {
    width: 15%;
    min-width: 120px;
}

.goodssize table .tab4-a {
    display: block;
    width: 100px;
    height: 100%;
    color: red;
    text-align: center;
}

.goodssize table .tab4-a:hover {
    background: #b7b7b7;
}

.attr-list-body {
    width: 90%;
    float: left;
    background-color: #f5f5f5;
    min-width: 800px;
    box-sizing: content-box;
    border: 1px solid #9d9d9d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.attr-list-tr-0 {
    line-height: 35px;
}

.attr-list-td-0 {
    padding-right: 15px;
    text-align: right;
    width: 40%;
}

.attr-list-td-sel {
    width: 206px;
}

.cpm_frith_cont_ul {
    z-index: 999;
    position: absolute;
    top: 27px;
    left: 0px;
    width: 100%;
    /*list-style: none;*/
    display: none;
    background: #E1E1E1;
}

.cpm_frith_cont_ul div {
    height: 30px;
    line-height: 30px;
}

.cpm_frith_cont_ul div:hover {
    background: #3BB4F2;
}

.img-box {
    background: #7d7d7d;
}

.imgmiddle {
    position: relative;
    border: none;
    width: 322px;
    height: 460px;
    margin: 1px auto 0;
}

.imgmiddletop {
    position: relative;
    border: 1px solid #fff;
    width: 320px;
    height: 400px;
    background: #fff;
    overflow: auto;
    overflow-x: hidden;
}

.imgmiddletop ul {
    padding: 0;
    margin: 0;
}

.imgmiddletop ul .li-mid {
    text-align: center;
    width: 100%;
    position: relative;
}

.imgmiddletop ul .li-mid a {
    display: table-cell;
    vertical-align: middle;
    padding: 14px;
    width: 100%;
    box-sizing: border-box;
}

.middleimg .mid-box {
    position: absolute;
    top: 0;
    width: 180px;
    height: 30px;
    display: none;
}

.middleimg .mid-box .mid-li {
    cursor: pointer;
    width: 32%;
    height: 30px;
    line-height: 30px;
    margin-right: 2px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    background: black;
    color: white;
    float: left;
    font-style: normal;
}

.imgmiddletop ul .li-mid a img {
    display: block;
    width: 290px;
}

.imgmiddlebotton {
    position: relative;
    height: 60px;
    width: 320px;
    background: #ececec;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
}

.imgmiddlespan {
    position: absolute;
    display: block;
    width: 100%;
    height: 60px;
    margin: auto;
    line-height: 60px;
    text-align: center;
}

.data-del-off {
    clear: both;
    margin: 10px auto;
    box-sizing: border-box;
    height: 80px;
}

.del-but {
    width: 100px;
    height: 40px;
    background: #FFF;
    margin: 10px 0px 0 40px;
    border: none;
    float: right;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#poput_but {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    color: #222222;
    background: #ececec;
}

.imgbox {
    margin-top: 10px;
    margin-left: 10px;
    width: 130px;
    height: 130px;
    float: left;
    position: relative;
    overflow: hidden;
}

.imgbox-sign {
    border: 1px solid red;
}

.imgbox a {
    display: table-cell;
    width: 100%;
    height: 124px;
    vertical-align: middle;
}

.imgbox img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 140px;
}

.finish:hover {
    background: #5EB95E;
}

.goods-phone {
    width: 90%;
    float: left;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.add-picul {
    width: 90%;
    float: left;
    border: 1px solid #9d9d9d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f2f2f2;
    padding-bottom: 10px;
}

.add-picul-text {
    height: 35px;
    line-height: 35px;
    color: #7f7f7f;
    padding-left: 10px;
    background: #f2f2f2;
}

.add-picture {
    width: 100%;
    padding: 0;
}

.add-picture li {
    position: relative;
    width: 20%;
    height: 180px;
    float: left;
    /*margin-right: 10px;*/
    padding: 0 10px;
}

.add-picture li .add-two {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 140px;
    background: #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.a-shade {
    z-index: 200;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

.add-picture li .add-two img {
    display: block;
    width: 100%;
    height: 100%;
}

.add-picture li .add-i {
    line-height: 90px;
    width: 60px;
    height: 60px;
    font-size: 42px;
    margin-top: 40px;
}

.add-picture li .add-two:hover .b-shade {
    animation: shade 1s forwards;
    -moz-animation: shade 1s forwards;
    /* Firefox */
    -webkit-animation: shade 1s forwards;
    /* Safari and Chrome */
    -o-animation: mymove 5s infinite;
    /* Opera */
}

.upload-progress {
    position: relative;
    top: -50px;
    width: 90%;
    margin: auto;
}