.distribution-list-titlebox {
	width: 100%;
	height: 42px;
	background: #FFFFFF;
}

.distribution-list-title {
	height: 100%;
	padding-left: 20px;
}

.distribution-title-text {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	color: #000000;
	text-align: center;
	line-height: 42px;
}

.distribution-title-text1 {
	font-size: 14px;
}


/*列表*/

.distribution-list-tr {
	overflow: hidden;
	display: flex;
	border-bottom: 1px solid #CCCCCC;
}

.distribution-list-tr div {
	float: left;
	text-align: center;
}

.distribution-list-tr:nth-child(1) {
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: #e6e6e6;
	border-bottom: 1px solid #CCCCCC;
	border-top: 2px solid #00abf0;
}

.distribution-list-tr:nth-child(1) .item3-box div {
	height: 44px;
	line-height: 44px;
}

.distribution-list-tr .item1 {
	width: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.distribution-list-tr .item2 {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.distribution-list-tr .item3 {
	width: 40%;
}

.distribution-list-tr .item4 {
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.distribution-list-tr .item4 .item4-input{
	width: 90px;
}
.item3 .item3-box {
	width: 100%;
	height: 30px;
}

.item3-box div {
	width: 33.3%;
	height: 30px;
	line-height: 30px;
}