.bodybox {
	min-width: 1100px;
	max-width: 1300px;
	margin: 0 auto;
}

.customerdata div {
	padding: 0;
}

.customerdata_select-ul div {
	cursor: pointer;
	height: 38px;
	line-height: 38px;
}

.customerdata {
	display: block;
	min-width: 1000px;
	/*max-width: 1267px;*/
	box-sizing: border-box;
	/*margin: 10px auto;*/
	border: 1px solid #fff;
	border-radius: 5px;
	background: #fff;
}

.customerdata-title {
	border-bottom: 3px solid #03afef;
	height: 50px;
	line-height: 50px;
}

.qm-c-p {
	margin-bottom: 0px;
	font-size: 18px;
}

.customerdata-cont {
	margin-left: 30px;
}

.customerdata-cont ul {
	padding: 0;
}

.customerdata-cont ul .customerdata-li {
	position: relative;
	width: 50%;
	padding: 10px 0;
	float: left;
	height: 55px;
}

.customerdata-sel {
	height: 35px;
	padding: 0;
	border-color: #CCCCCC;
	border-radius: 5px;
}

.customerdata-cont span {
	display: inline-block;
	float: left;
	/*height: 35px;*/
	line-height: 35px;
	text-align: center;
	padding: 0;
}

.customerdata-cont input {
	height: 35px;
	padding: 0 0 0 5px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #ffffff;
}

.customerdata-checkbox {
	display: inline-block;
	margin-top: 3px;
	padding-left: 20px;
	height: 30px;
	float: left;
	margin-left: 10px;
	color: #989898;
}

.customerdata-cont ul li:nth-child(6) div span {
	display: inline-block;
	float: left;
	margin: 0;
	height: auto;
}

.customerdata-li .add-span {
	display: block;
	width: 100px;
	text-align: center;
	line-height: 35px;
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	float: right;
	margin-right: 85px;
}

.customerdata-cont .pop-div2 {
	height: 100%;
}

.sex-unchecked {
	color: #333333;
	margin-right: 10px;
	padding-left: 21px;
	background: url(../images/uncheckround.jpg) 0px 5px no-repeat;
}

.sex-checked {
	background: url(../images/checkround.jpg) 0px 5px no-repeat;
}


/*时间*/

.poptime {
	width: 100%;
	height: 37px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

.poptime1 {
	border: 1px solid #CCCCCC;
}

.poptime input {
	width: 85%;
	margin: 0;
	border: 0;
}

.poptime .qm-time-but {
	border: none;
	float: left;
	width: 15%;
	/*height: 100%;*/
	background: #fff;
}

.data-del-off {
	clear: both;
	max-width: 1269px;
	min-width: 1000px;
	margin: 10px auto;
	padding: 0px 41px;
	box-sizing: border-box;
	height: 80px;
}

.del-but {
	width: 100px;
	height: 40px;
	background: #f1f0f5;
	margin: 10px 0px 0 40px;
	border: none;
	float: right;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}