table {
    margin: 0 !important;
}
.site-header{

    width: 100%;
    height: 42px;
    background-color: #f1f0f5;
}
.site-header-but{
    position: relative;
    display: inline-block;
    width: 120px;
    font-size: 18px;
    color: #000000;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    margin-left: 25px;
}
.site-header-i{
    position: absolute;
    top: 12px;
    left: 2px;
    display: inline-block;
    font-style: normal;
    width: 20px;
    height: 20px;
    background: url("../images/css.png") -378px -19px no-repeat;
}
.site-title {
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #02b4fe;
}
.site-title div {
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 20px;
}

.goback{
    margin-left: 30px;
}
.site-table-box {
    padding: 0;
}
.site-table-box tr:first-child{
    background-color: #f1f0f5;
}
.site-table-box tr:last-child{
    border: 1px solid #cccccc;
}
.site-table-box tr th:first-child {
    padding-left: 40px;
}
.site-table-box tr td:first-child {
    padding-left: 40px;
}
.am-table {
    margin-bottom: 0;
}


.pop-up-box {
    display: none;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(0, 0, 0, 0.1);*/
}

.pop-up-cont {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 430px;
    margin: -345px 0 0 -200px;
    z-index: 25;
    background: #FFFFFF;
    border: 1px solid #cccccc;
}

.pop-up-title {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #02b4fe;
    color: #FFFFFF;
}

.pop-up-cont li {
    width: 100%;
    height: 45px;
    padding: 14px 22px;
}

.pop-up-cont .left-span {
    display: inline-block;
    width: 20%;
    float: left;
}

.pop-up-cont .right-cont {
    float: left;
    width: 78%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pop-up-but {
    width: 100%;
    height: 60px;
    float: left;
    padding: 12px 125px 0 125px;
}

.pop-up-but div {
    width: 80px;
    height: 36px;
    float: left;
    text-align: center;
    line-height: 36px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #f1f0f5;

}

.pop-up-but div:first-child {
    float: left;
}

.pop-up-but div:last-child {
    float: right;
}
