






.groupdata div {
	padding: 0;
}


/*第1块*/




.groupdata_select-ul div {
	cursor: pointer;
	height: 38px;
	line-height: 38px;
}


.groupdata {
	display: block;
	min-width: 1000px;
	/*max-width: 1267px;*/
	box-sizing: border-box;
	/*margin: 10px auto;*/
	border: 1px solid #fff;
	border-radius: 5px;
	background: #fff;
}

.groupdata-title {
	border-bottom: 3px solid #03afef;
	height: 50px;
	line-height: 50px;
}

.qm-c-p {
	margin-bottom: 16px;
	font-size: 18px;
}

.groupdata-cont {
	color: #989898;
	margin-top: 10px;
	height: 300px;
}

.groupdata-cont ul {
	padding: 0;
}

.groupdata-cont ul .groupdata-li {
	width: 50%;
	padding: 10px 0;
	float: left;
	height: 55px;
}

.groupdata-sel {
	height: 35px;
	padding: 0;
	border-color:#CCCCCC ;
	border-radius:5px ;
}

.groupdata-cont span {
	display: inline-block;
	float: left;
	/*height: 35px;*/
	line-height: 35px;
	text-align: center;
	padding: 0;
}

.groupdata-cont input {
	height: 35px;
	padding: 0;
	border:1px solid #CCCCCC;
	border-radius: 5px;
}

.groupdata-checkbox {
	display: inline-block;
	margin-top: 3px;
	padding-left: 20px;
	height: 30px;
	float: left;
	margin-left: 10px;
	color: #989898;
}

.groupdata-grade {
	display: block;
	margin-top: 4px;
	padding-left: 20px;
	height: 30px;
	float: left;
	margin-right: 10px;
}

.groupdata-credit-bg {
	background: url(../images/uncheck.jpg) 0px 4px no-repeat;
}

.groupdata-checkbox-bg {
	display: block;
	background: url(../images/checked.jpg) 0px 5px no-repeat;
}

.groupdata-cont ul li:nth-child(6) div span {
	display: inline-block;
	float: left;
	margin: 0;
	height: auto;
}

.groupdata-credit {
	padding: 0;
}

.groupdata-li .add-span{
	display: block;
	width: 100px;

	text-align: center;
	line-height: 35px;
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	float: right;
	margin-right: 85px;
	
}

/*.qm-c-compile1 {
	margin: 10px 0 40px 20px;
	width: 100px;
	background: #ccc;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #000302;
}*/

.groupdata-cont .pop-div2 {
	height: 100%;
}

.poptwo-c-lia {
	margin-right: 10px;
	padding-left: 21px;
	background: url(../images/uncheckround.jpg) 0px 5px no-repeat;
}

.poptwo-c-lia1 {
	background: url(../images/checkround.jpg) 0px 5px no-repeat;
}


/*时间*/

.poptime {
	width: 100%;
	height: 37px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

.poptime1 {
	border: 1px solid #CCCCCC;
}

.poptime input {
	width: 85%;
	margin: 0;
	border: 0;
}

.poptime .qm-time-but {
	border: none;
	float: left;
	width: 15%;
	/*height: 100%;*/
	background: #fff;
}


.data-del-off {
	clear: both;
	max-width: 1269px;
	min-width: 1000px;
	margin: 10px auto;
	padding: 0 41px;
	box-sizing: border-box;
	height: 80px;
}

.del-but {
	width: 100px;
	height: 40px;
	background: #FFF;
	margin: 10px 0px 0 40px;
	border: none;
	float: right;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
